/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


/*--------------------*/

.artists-quiz header .progress-sets {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 337px;
    height: 28px;
    margin: 10px 15px;
}

.artists-quiz header .progress-sets .progress-bar {
    background: #A4A4A4;
    width: 266px;
    height: 3px;
}

.artists-quiz header .progress-sets .progress-time {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.artists-quiz header .progress-sets .progress-cross {
    background: url("../img/ico/eva_close-outline.svg") no-repeat;
    width: 28px;
    height: 28px;
    cursor: pointer;
}



.artists-quiz .main-image {
    border-radius: 20px;
    width: 328px;
    height: 294px;
    overflow: hidden;
}

.artists-quiz .question {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 127% */
    letter-spacing: -0.5px;
    color: #FFFFFF;
}

.artists-quiz .button_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.artists-quiz .button_wrapper button {
    width: 158px;
    height: 48px;
    left: 186px;
    top: 446px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 56px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */
    text-align: center;
    letter-spacing: -0.914286px;
    color: #FFFFFF;
}

.artists-quiz {
    background: black;
    width: 360px;
    height: 640px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

.artists-quiz footer,
header {
    width: 100%;
    height: 43px;
}

.artists-quiz footer {
    margin-top: auto;
}

.artists-quiz footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 328px;
    height: 24px;
    margin: 10px 15px;
}

.artists-quiz footer .wrapper .rss-logo {
    background: url("../img/rs_school_js.png");
    width: 61px;
    height: 23px;
}

.artists-quiz footer .wrapper .developer {
    font-size: 10px;
    color: white;
}

.artists-quiz footer .wrapper .year {
    font-size: 20px;
    color: white;
}